{% extends 'base.html.twig' %}

{% block title %}This is Úkol !!!{% endblock %}

{% block body %}
	<div class="container">
		<h1>Dobrý den</h1>
		<p>Na seznam Postů se dostanete tímto proklikem: </p>
		<a class="btn btn-primary" href="/posts" style="font-size: 6rem">PROSÍM KLIKNI NA TOTO MALÉ TLAČÍTKO</a>
	</div>
{% endblock %}
